@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');
body {
  margin: 0;
  font-family: 'Jomolhari', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}